opensearchdescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns="http://a9.com/-/spec/opensearch/1.1/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://a9.com/-/spec/opensearch/1.1/"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xsd:element name="OpenSearchDescription">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ShortName" type="xsd:string" minOccurs="0" />
        <xsd:element name="Description" type="xsd:string" minOccurs="0" />
        <xsd:element name="InputEncoding" type="xsd:string" minOccurs="0" />
        <xsd:element name="Image" minOccurs="0">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="height" type="xsd:integer" use="optional" />
                <xsd:attribute name="width" type="xsd:integer" use="optional" />
                <xsd:attribute name="type" type="xsd:string" use="optional" />
                <xsd:anyAttribute processContents="lax" />
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Url" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="type" type="xsd:string" use="optional" />
            <xsd:attribute name="template" type="xsd:string" use="optional" />
            <xsd:anyAttribute processContents="lax" />
          </xsd:complexType>
        </xsd:element>
        <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xsd:sequence>
      <xsd:anyAttribute processContents="lax" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>